/* Images with same size and fill the entire card */
.image {
    object-fit:fill;
    height: 15rem;
    width: 100%;
}

/* Change image opacity when hovering over it */
.card:hover .image {
    filter: opacity(0.1)
}

/* Center Card.Text */
.info {
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center; 
}

/* Card.Text = p and is initially 20px */
.info p {
    font-size: 17px;
}

/* Makes info and links to initially be 'hidden' and taking the same space as the image */
.info, .links {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
}

/* Change info and links opacity to make them visible when hovering over the image */
.card:hover .info, .card:hover .links {
    opacity: 9;
}

/* Center links and add them to bottom of card*/
.links {
    justify-content:center;
    align-items: flex-end;
}

.link {
    color: #0FA3B1;
    text-decoration: none;
    font-size: 20px;
}

.link:hover, .info{
    color:#D1345B;
}
