/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Source+Serif+4:opsz@8..60&display=swap');

.App {
  text-align: center;
  background-color: #f8f7ff;
}

body {
  /* Without this, footer will be on top of bottom of page */
  padding-bottom: 50px;
  margin: 0;  
}

/* From Google Fonts import */
* {
  font-family: 'Philosopher', sans-serif;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.router {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* Needs this so all pages will have same height */
  min-height: 100vh;
}
